@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

html {
	font-family: 'Roboto', sans-serif;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body {
	margin: 0px;
}
#featured-app{
	float: center;
	text-align: center;
	color: white;
	background: linear-gradient(180deg, #FF5F5F 50%, #FF7F7F 50%);
	padding: 50px;
}
#featured-con{
	background-color: none;
}
#featured-con-img{
	width: 106px; 
	height: 106px;
	background-color: white;
	padding: 15px;
	
} 

#you-are-new{
	float: center;
	text-align: center;
	color: #353535;
	background-image: url(../assets/libtonas-background-apps.png);
	padding: 50px;
}

button{
	border: 3px solid #353535;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background: white;
	padding: 5px 15px;
	 transition-duration: 0.5s;
}

button:hover{
	background: whitesmoke;
}
button:active{
	background: lightgray;
}