html {
	margin-top: -20px;
	font-family: Segoe UI;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body {
	margin: 0px;
}

#featured-app{
	float: center;
	text-align: center;
	color: white;
	background: linear-gradient(180deg, #FF5F5F 50%, #FF7F7F 50%);
	padding: 50px;
}

#featured-con{
	background-color: none;
}
#featured-con-img{
	min-width: 106px;
	min-height: 106px;
	background-color: white;
	padding: 15px;
	
}